<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bid.admin.mapper.RoleFuncMapper" >
  <resultMap id="BaseResultMap" type="com.bid.admin.entity.RoleFunc" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="role_id" property="roleId" jdbcType="BIGINT" />
    <result column="func_id" property="funcId" jdbcType="BIGINT" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from s_role_func
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.bid.admin.entity.RoleFunc" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into s_role_func (role_id, func_id)
    values (#{roleId,jdbcType=BIGINT}, #{funcId,jdbcType=BIGINT})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.bid.admin.entity.RoleFunc" >
    update s_role_func
    set role_id = #{roleId,jdbcType=BIGINT},
      func_id = #{funcId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select id, role_id, func_id
    from s_role_func
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, role_id, func_id
    from s_role_func
  </select>
  <!--other add-->
  <delete id="deleteByRoleId"  parameterType="java.lang.Integer" >
    delete from s_role_func
    where role_id = #{roleId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByFuncId"  parameterType="java.lang.Integer" >
    delete from s_role_func
    where func_id = #{funcId,jdbcType=BIGINT}
  </delete>
  <select id="selectByRoleId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select id, role_id, func_id
    from s_role_func
    where role_id = #{roleId,jdbcType=BIGINT}
  </select>

</mapper>