<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hnczb.admin.mapper.UserShiroMapper" >
  <resultMap id="BaseResultMap" type="com.hnczb.admin.entity.UserShiro" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="real_name" property="realName" jdbcType="VARCHAR" />
    <result column="login_name" property="loginName" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="create_body" property="createBody" jdbcType="VARCHAR" />
    <result column="del_flg" property="delFlg" jdbcType="INTEGER" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from s_user
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.hnczb.admin.entity.UserShiro" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into s_user (user_id, real_name, login_name, 
      password, phone, create_time, 
      status, create_body, del_flg
      )
    values (#{userId,jdbcType=VARCHAR}, #{realName,jdbcType=VARCHAR}, #{loginName,jdbcType=VARCHAR}, 
      #{password,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=VARCHAR}, #{createBody,jdbcType=VARCHAR}, #{delFlg,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.hnczb.admin.entity.UserShiro" >
    update s_user
    set user_id = #{userId,jdbcType=VARCHAR},
      real_name = #{realName,jdbcType=VARCHAR},
      login_name = #{loginName,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=VARCHAR},
      create_body = #{createBody,jdbcType=VARCHAR},
      del_flg = #{delFlg,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select id, user_id, real_name, login_name, password, phone, create_time, status, 
    create_body, del_flg
    from s_user
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, user_id, real_name, login_name, password, phone, create_time, status, 
    create_body, del_flg
    from s_user
  </select>

  <!-- others add -->
  <select id="selectByCreateBody" resultMap="BaseResultMap" parameterType="java.lang.String"  >
    select id, user_id, real_name, login_name, password, phone, create_time, status,
    create_body, del_flg
    from s_user
    where create_body = #{createBody,jdbcType=VARCHAR}
  </select>
  <update id="updateByUserId" parameterType="com.hnczb.admin.entity.UserShiro" >
    update s_user
    set
      real_name = #{realName,jdbcType=VARCHAR},
      login_name = #{loginName,jdbcType=VARCHAR},
      <if test="password!=null and password!=''">
      password = #{password,jdbcType=VARCHAR},
      </if>
      phone = #{phone,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=VARCHAR},
      create_body = #{createBody,jdbcType=VARCHAR},
      del_flg = #{delFlg,jdbcType=INTEGER}
    where user_id = #{userId,jdbcType=VARCHAR}
  </update>
  <delete id="deleteByUseId" parameterType="java.lang.String" >
    delete from s_user
    where user_id = #{userId,jdbcType=VARCHAR}
  </delete>
  <select id="countAll" resultType="java.lang.Long" >
    select COUNT(1)
    from s_user
  </select>
  <select id="selectByUserId" resultMap="BaseResultMap" parameterType="java.lang.String">
    select id, user_id, real_name, login_name, password, phone, create_time, status,
    create_body, del_flg
    from s_user
    where user_id = #{userId,jdbcType=VARCHAR}
  </select>
  <select id="selectByLoginName" resultMap="BaseResultMap" parameterType="java.lang.String">
    select id, user_id, real_name, login_name, password, phone, create_time, status,
    create_body, del_flg
    from s_user
    where login_name = #{loginName,jdbcType=VARCHAR}
  </select>
</mapper>