<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hnczb.admin.mapper.UserRoleMapper" >
  <resultMap id="BaseResultMap" type="com.hnczb.admin.entity.UserRole" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="role_id" property="roleId" jdbcType="BIGINT" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from s_user_role
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.hnczb.admin.entity.UserRole" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into s_user_role (user_id, role_id)
    values (#{userId,jdbcType=VARCHAR}, #{roleId,jdbcType=BIGINT})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.hnczb.admin.entity.UserRole" >
    update s_user_role
    set user_id = #{userId,jdbcType=VARCHAR},
      role_id = #{roleId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select id, user_id, role_id
    from s_user_role
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, user_id, role_id
    from s_user_role
  </select>
  <!--others add-->
  <select id="selectByUserId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select id, user_id, role_id
    from s_user_role
    WHERE user_id = #{userId,jdbcType=VARCHAR}
  </select>
  <select id="selectByRoleId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, user_id, role_id
    from s_user_role
    WHERE role_id = #{roleId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByRoleId" parameterType="java.lang.Integer" >
    delete from s_user_role
    where role_id = #{roleId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByUseId" parameterType="java.lang.String" >
    delete from s_user_role
    where user_id = #{userId,jdbcType=VARCHAR}
  </delete>
  <update id="updateByUserId" parameterType="java.lang.String" >
    update s_user_role
    set  role_id = #{roleId,jdbcType=BIGINT}
    where user_id = #{userId,jdbcType=VARCHAR}
  </update>
</mapper>